@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="">COMEDY CORNER</h1><br />
    <p>I have created this simple application with CRUD functions. Please do click the Jokes tab in the navbar to get started</p>
    <p><br />
        <b>Welcome to COMEDY CORNER:
            Your Daily Dose of Laughter!
        </b><br /><br />

        Feeling down? <br />
        Need a chuckle? <br />
        Or just want to make your friends groan with delight? <br />
        You've come to the right place! <br /><br />
        At Humor Hub, we've got jokes so funny, even your device will laugh out loud. <br />
        Dive into a world where punchlines are punchy, puns are plenty, and laughter is guaranteed. <br /><br />
        <b>Warning: </b> May cause uncontrollable giggles, snorts, and the occasional coffee snort-out-your-nose moment.<br /><br />
        <h3>Enjoy at your own risk! </h3>

    </p>
</div>
